{% extends 'base-layout.html.twig' %}

{% block title %}Direction{% endblock %}
{% block header %}{{ examen.libelle ~' | '~ examen.niveau.libelle }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> {{ title | default('Gestion des délibérations') }}</h3>
        <div class="card-toolbar">
            <a href="{{ path('app_direction_deliberation_new',{'id':id}) }}" class="btn btn-main btn-sm"  data-bsd-toggle="modal" data-bs-targetd="#modal-xl">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
           {#  <a href="{{ path('app_direction_deliberation_historique_new',{'id':id}) }}" class="btn btn-main btn-sm"  data-bs-toggle="modal" data-bs-target="#modal-xl">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a> #}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="grid_app_direction_examen_deliberation_historique" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_direction_examen_deliberation_historique').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_direction_deliberation_historique',{'id':id}) }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });
        });
    </script>
{% endblock %}
