{# {% extends 'base-layout.html.twig' %}

{% block title %}Direction{% endblock %}
{% block header %}{{"ffff" }}{% endblock %}
{% block breadcrumb %}{% endblock %} #}
{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> {{ title | default('Gestion des délibérations') }}</h3>
        <div class="card-toolbar">
           {#  <a href="{{ path('app_direction_deliberation_new',{'id':id}) }}" class="btn btn-main btn-sm"  data-bsd-toggle="modal" data-bs-targetd="#modal-xl">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a> #}
           {#  <a href="{{ path('app_direction_deliberation_historique_new',{'id':id}) }}" class="btn btn-main btn-sm"  data-bs-toggle="modal" data-bs-target="#modal-xl">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a> #}
        </div>
    </div>
    <div class="card-body">

    {% if etat != "attente_validation" %}
     <div class="row">
        {% form_theme form 'widget/fields-block.html.twig' %}
            {{ form_start(form)}}
            <fieldset>

             <div class="row small" style="position:relative">
               
             </div>
              <div class="row small" style="position:relative">
            
                <div class="col-md-10">{{ form_row(form.niveau) }}</div>
              
                <div class="col-md-1 p-5">
              
                 <a href="" {# target="_blank" #} type="button" style="height: 35px;margin-top:0px" class="btn btn-warning btn-sm imprimer" name="search[imprime]"><i class="fa fa-print text-light"></i></a>
                </div>
                
              </div>
            </fieldset>
            {{ form_end(form, {render_rest: false}) }}
      </div>

    {% endif %}
    
   
        <div class="row">
            <div class="col-sm-12">
                {# <div id="grid_app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation" class="grid-dt-wrapper">Chargement....</div> #}
                 <div id="grid_app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation_{{ grid_id }}" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
{#     init_select2('.has-select2');
     const $niveau = $('#{{ form.niveau.vars.id }}');
    function exexuteUrl(niveau){
         var url = "{{ path('app_comptabilite_liste_etudiant_examen', {niveau: 'niveau'}) }}".replace('niveau', niveau);

      window.open(url, '_blank')
      }
    
       $('.imprimer').on('click', function (e) {

        let niveau_data = $niveau.val() ? $niveau.val()  : null
      
       exexuteUrl(niveau_data)
     
      }); #}

    
       {#  $(function() { 
              $('#grid_app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation',{'etat':etat}) }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });
        }); #}
    </script>


     <script>
    
    $(function () {
      const grid_prefix_id = "{{ grid_id }}";
      const $old_grid = $('#grid_app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation_' + grid_prefix_id);
      init_select2('.has-select2');

      function loadDataTable($grid, niveau ,options = null, contents = '') {
        $grid.initDataTables(
          options
          ? options
          : {{ datatable_settings(datatable) }}, {
          searching: true,
          ajaxUrl: Routing.generate('app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation_index', {
            niveau: niveau,
            
          }),
          language: {
            url: asset_base_path + "/js/i18n/French.json"
          },
          headerCallback: function (tHead, aData, iStart, iEnd, aiDisplay) {},
          initComplete: function (e, oSettings, json) {},
        
          drawCallback: function (row, data) {}
        });
      }
     

     init_select2('.has-select2');
     const $niveau = $('#{{ form.niveau.vars.id }}');

    function exexuteUrl(niveau){
             var url = "{{ path('app_comptabilite_liste_etudiant_examen', {niveau: 'niveau',etat:'etat'}) }}".replace('niveau', niveau).replace('etat', 'deliberer');

      window.open(url, '_blank')
      }
    
       $('.imprimer').on('click', function (e) {
 e.preventDefault(); 
        let niveau_data = $niveau.val() ? $niveau.val()  : null
      
       exexuteUrl(niveau_data)
     
      });
      

      loadDataTable($old_grid,null, {{ datatable_settings(datatable) }});
     
    
     
       $niveau.on('change', function (e) {
        const $this = $(this);
         load_grid_data(null, $this,$this.val());
        
      });


   





      function load_grid_data($form, $button, niveau) {
        const id = $old_grid.find('table').attr('id');
        const $table = $old_grid.find(`#${id}`);
        const table = $table.DataTable();
        $.ajax({
          url: '/admin/direction/deliberation/traitement/examen',
          type: 'GET',
         // url: $form.attr('action'),
          //type: $form.attr('method'),
          data: {
           
             niveau: niveau,
            
          },
          beforeSend: function () {
            $button.append('<span class="spinner-border spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> ');
            $button.prop('disabled', true);
          },
          complete: function () {
            $button.prop('disabled', false);
            $button.find('.spinner-ajax').remove();
          },
          success: function (html) {
            table.destroy();
            if ($table.length) {
              $table.empty();
            }

           // let grid_val = `${niveau}_${caissiere}_${dateDebut}_${dateFin}`;
            let grid_val = `${niveau}`;

            //alert(grid_val)

            $old_grid.attr('id', `grid_app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation_${grid_val}`).empty().html(`
                                    <div class="spinner spinner-track spinner-primary mr-15 text-primary">
                                        <div class="ml-15">Chargement des données de la grille</div>
                                    </div>
                            `);
            var options = {{ datatable_settings(datatable) }};
            var name = `dt_app_direction_deliberation_liste_etudiant_traitement_exament_after_deliberation_${grid_val}`;

            options['name'] = name;

            console.log(name);

                        loadDataTable($old_grid,niveau ,options)

          }
        });
      }
      

    });
  </script>
{% endblock %}
