{% extends 'base-layout.html.twig' %}

{% block title %}Mes informations{% endblock %}
 {# {% from '_macros/macro_document.html.twig' import prototype_ligne_colonne_document %} #}
  {% from '_macros/macro_document.html.twig' import prototype_ligne_colonne_document %}

   {% from '_macros/macro_cursus_universitaire.html.twig' import prototype_ligne_colonne %}
   {% from '_macros/macro_info.html.twig' import prototype_ligne_colonne_info %}
   {% from '_macros/macro_cursus_professionnel.html.twig' import prototype_ligne_colonne_professionnel %}
   {% from '_macros/macro_cursus_stage.html.twig' import prototype_ligne_colonne_stage %}
{% block body %}
    <div class="card shadow-sm">
        <div class="card-header card-header-sm">
            <h3 class="card-title"> Informations étudiant</h3>
            <div class="card-toolbar">
               {# <a href="{{ path('app_utilisateur_utilisateur_new') }}" class="btn btn-main btn-sm"
                   data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2">
                    <i class="bi bi-plus-square text-light"></i>
                    Nouveau
                </a>#}
            </div>
        </div>
        <div class="card-body " >
            {% form_theme form 'widget/fields-block.html.twig' %}
            {{ form_start(form, {'attr': {'role':'form', 'class': 'form','enctype':'multipart/form-data'}}) }}

                {{ include('_includes/ajax/response.html.twig') }}
            <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_1">ETAT CIVIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_2">VOS CONTACTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_3">INFORMATIONS PERSONNELLES</a>
                </li> <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_4">VOTRE PARCOURS</a>
                </li>
                </li> <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_5">MES DOCUMENTS</a>
                </li>
                </li> <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">INFORMATIONS SUR LES PARENTS</a>
                </li>
                
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel">
                    <div class="row">
                        <div class="form-group col-md-12 mb-2">{{ form_row(form.nom) }}</div>
                        <div class="form-group  col-md-12 mb-2">{{ form_row(form.prenom) }}</div>
                        <div class="form-group  col-md-12 mb-2">{{ form_row(form.dateNaissance) }}</div>
                        <div class="form-group  col-md-12 mb-2">{{ form_row(form.lieuNaissance) }}</div>
                        <div class="form-group  col-md-12 mb-2">{{ form_row(form.genre) }}</div>
                        {# <div class="form-group  col-md-12 mb-2">{{ form_row(form.civilite) }}</div> #}
                    </div>
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
                    <div class="col-md-12">{{ form_row(form.adresse) }}</div>
                    <div class="col-md-12">{{ form_row(form.ville) }}</div>
                    <div class="col-md-12">{{ form_row(form.pays) }}</div>
                    <div class="col-md-12">{{ form_row(form.boite) }}</div>
                    <div class="col-md-12">{{ form_row(form.contact) }}</div>
                    <div class="col-md-12">{{ form_row(form.numeroWhatsapp) }}</div>
                    <div class="col-md-12">{{ form_row(form.email) }}</div>

                </div>
                <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
                    <div class="row mb-7">
                        <h4>COMMENT ALLEZ VOUS FINANCER VOS ÉTUDES ?</h4>
                    </div>
                    <div class="row mb-4 ">
                        <div class="form-group col-md-4 mb-7">{{ form_row(form.employeur) }}</div>
                        <div class="form-group  col-md-4 mb-7">{{ form_row(form.bailleur) }}</div>
                        <div class="form-group  col-md-4 mb-1">{{ form_row(form.vousMeme) }}</div>
                        <div class="form-group  col-md-4 ">{{ form_row(form.parent) }}</div>
                        <div class="form-group  col-md-4 ">Autres  précisez ici :</div>
                        <div class="form-group  col-md-4 mb-2">{{ form_row(form.autre,{'attr':{'placeholder':'Saisissez vos informations'}}) }}</div>

                    </div>
                    <div class="row mb-7">
                        <h4>COMMENT AVEZ VOUS APPRIS L'EXISTENCE DE LA FILIERE DE VOTRE CHOIX A L'UFR SEG ?</h4>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4 mb-7">{{ form_row(form.radio) }}</div>
                        <div class="form-group  col-md-4 mb-7">{{ form_row(form.ministere) }}</div>
                        <div class="form-group  col-md-4 mb-7">{{ form_row(form.professeur) }}</div>
                        <div class="form-group  col-md-4 mb-7">{{ form_row(form.presse) }}</div>
                        <div class="form-group  col-md-4 mb-7">{{ form_row(form.mailing) }}</div>
                        <div class="form-group  col-md-4 mb-7">{{ form_row(form.amiCollegue) }}</div>
                        <div class="form-group  col-md-4 mb-2">{{ form_row(form.affiche) }}</div>
                        <div class="form-group  col-md-4 mb-2">{{ form_row(form.siteWeb) }}</div>
                        <div class="form-group  col-md-1 mb-2">Autre :</div>
                        <div class="form-group  col-md-3 mb-2">{{ form_row(form.autreExistence,{'attr':{'placeholder':'Saisissez vos informations'}}) }}</div>
                    </div>

                     <div class="row mb-7">
                        <h4>AUTRES INFORMATIONS </h4>
                    </div>

                    <div class="row">
                    <div class="form-group col-md-2 mb-7">Êtes vous un travailleur ?</div>
                    <div class="form-group col-md-2 mb-7 text-start">{{ form_row(form.statutTravail) }}</div>
                    <div class="form-group col-md-4 mb-7">{{ form_row(form.travail,{'attr':{'placeholder':'Précisé le nom de votre structure','style':'margin-top: -15px;
                }'}}) }}</div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-2 mb-7">Êtes vous un étudiant ?</div>
                    <div class="form-group col-md-2 mb-7 text-start">{{ form_row(form.statutEtudiant) }}</div>
                    
                    </div>
                   
                </div> 
                
                <div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel">
                    <div class="row mb-4">
                        <h6>CURSUS UNIVERSITAIRE DEPUIS LE BAC </h6>
                    </div>
                   

                        {{ prototype_ligne_colonne(form) }}

                    <br>
                    <div class="row mb-4">
                        <h6>Votre cursus professionnel</h6>
                    </div>
                    {{ prototype_ligne_colonne_professionnel(form) }}
                <br>
                    <div class="row mb-4">
                        <h6>Vos stages éffectués</h6>
                    </div>
                  

                    {{ prototype_ligne_colonne_stage(form) }}
                    <br>

                </div>
                
                <div class="tab-pane fade" id="kt_tab_pane_5" role="tabpanel">
                     <div class="row mb-4">
                        <h6>Mes documents</h6>
                     </div>
                    <br>

                     {{ prototype_ligne_colonne_document(form) }}
                    <br>
                   

    

                </div>
                <div class="tab-pane fade" id="kt_tab_pane_6" role="tabpanel">
                    {{ prototype_ligne_colonne_info(form) }}
                
                </div>
               


            </div>

            <div class="row">
                <div class="col-md-8"><button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
                     {{ form_widget(form.save) }}
                        {% if etudiant.etat =="pas_complet" %}
                        
                        {{ form_widget(form.valider) }}
                        {% endif %}
                        </div>
                <div class="col-md-4">

                </div>
            </div>

            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}



        </div>
    </div>
{% endblock %}


{% block java %}
<script src="{{ asset('assets/parcours/universitaire.js') }}"></script>
<script src="{{ asset('assets/parcours/info.js') }}"></script>
<script src="{{ asset('assets/parcours/professionnel.js') }}"></script>
<script src="{{ asset('assets/parcours/stage.js') }}"></script>
<script src="{{ asset('assets/parcours/document.js') }}"></script>
    <script>
     const etat = "{{etudiant.etat}}";

     $('#etudiant_infoEtudiants_0_habiteAvec_placeholder').closest( "label" ).hide()

     if(etat == "pas_complet"){
         Swal.fire({
        text: `Bienvenu (e) dans votre espace étudiant. Veuillez renseigner vos informations personnelles et les soumettre à validation`,
        icon: "warning",
        buttonsStyling: false,
        confirmButtonText: "ok",
        customClass: {
            confirmButton: "btn btn-success"
        }
    });

     }


       /* $('.no-auto').each(function () {
            const $this = $(this);
            const $id = $('#' + $this.attr('id'));
            init_date_picker($id,  'down', (start, e) => {

                var start = new Date(1995, 11, 17);
                $this.val(start.format('DD/MM/YYYY'));
            }, null, null, false);

            $id.on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });
        });*/
      if($("#etudiant_statutTravail_0").checked){
        $('.travail').show()
                }else{
        $('.travail').hide()
        }
       

          $("#etudiant_statutTravail_0").on('click',function () {
           $('.travail').show()

        });
          $("#etudiant_statutTravail_1").on('click',function () {
           $('.travail').hide()

        });
    </script>
{% endblock %}