{% extends 'security/layout.html.twig' %}

{% block title %}Réinitialisation de mot de passe!{% endblock %}

{% block body %}
 {% form_theme form 'widget/fields-block.html.twig' %}
<h1>Réinitialisation de votre mot de passe</h1>
 {{ include('_includes/ajax/response.html.twig') }}
     {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
<div class="row mb-4">
 {{ form_row(form.email) }}
</div>

{# 
       {{ form_widget(form) }} #}
 <button type="submit" class="btn btn-main btn-sm"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Envoyer</button>
        {{ form_end(form) }}
{% endblock %}