{# {% extends 'base-layout.html.twig' %}

{% block title %}Liste des inscriptions{% endblock %}
{% block header %}Comptabilité{% endblock %}
{% block breadcrumb %}{% endblock %} #}


{% block body %}
  <div class="card shadow-sm">
    <div class="card-header card-header-sm">
      <h3 class="card-title">
        Liste des paiements</h3>
      <div class="card-toolbar"></div>
    </div>
    <div class="card-body">
      <div class="row">
        {% form_theme form 'widget/fields-block.html.twig' %}
            {{ form_start(form)}}
            <fieldset>

             <div class="row small" style="position:relative">
               
             </div>
              <div class="row small" style="position:relative">

              <div class="row">
               <div class="col-md-3">{{ form_row(form.filiere) }}</div>
                <div class="col-md-3">{{ form_row(form.niveau) }}</div>
                <div class="col-md-2">{{ form_row(form.classe) }}</div>
                <div class="col-md-2">{{ form_row(form.dateDebut) }}</div>
                <div class="col-md-2">{{ form_row(form.dateFin) }}</div>
              
              </div>
              <div class="row">
              <div class="col-md-3">{{ form_row(form.typeFrais) }}</div>
                <div class="col-md-3">{{ form_row(form.mode) }}</div>
                <div class="col-md-3">{{ form_row(form.caissiere) }}</div>
                <div class="col-md-1 pt-5">
                  <button class="btn btn-main btn-filter btn-sm" type="button">Rechercher</button>
                </div>
                <div class="col-md-2 p-5">
                <a  id='btn-imprimer' style="height: 35px;" title="Point des paiements" href="{{ path('default_print_iframe',{
                    'r':'app_comptabilite_print_versement_inscription_all'
                  }) }}" class="btn btn-warning btn-sm btn-imprimer" 
                data-bs-toggle="modal" data-bs-target="#exampleModalSizeSm2">
                <i class="fa fa-print text-light"></i>
                
                 </a>
                {# <a style="height: 35px;" title="Etat des versements" href="{{ path('default_print_iframe',{
                                'r':'app_comptabilite_print_etat_versement_alll' title="Point des paiements"
                              }) }}" class="btn btn-primary btn-sm btn-imprimer" 
                            data-bs-toggle="modal" data-bs-target="#exampleModalSizeSm2">
                            <i class="fa fa-print text-light"></i>
                </a> #}
                </div>
              </div>

                
              </div>
            </fieldset>
            {{ form_end(form, {render_rest: false}) }}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="grid_app_comptabilite_paiement_scolarite_{{ grid_id }}" class="grid-dt-wrapper">Chargement....</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block java %}
  <script src="{{ asset('assets/js/datatables.js') }}"></script>
  <script>

  
    
    $(function () {

            $('.no-auto').each(function () {
                const $this = $(this);
                const $id = $('#' + $this.attr('id'));
                init_date_picker($id,  'down', (start, e) => {
                    //$this.val(start.format('DD/MM/YYYY'));
                }, null, null, false);

                $id.on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY'));
                });
            });
            
      const grid_prefix_id = "{{ grid_id }}";
      const $old_grid = $('#grid_app_comptabilite_paiement_scolarite_' + grid_prefix_id);
      init_select2('.has-select2');

      function loadDataTable($grid, niveau,caissiere,dateDebut,dateFin,mode,classe,typeFrais,filiere ,options = null, contents = '') {
        $grid.initDataTables(
          options
          ? options
          : {{ datatable_settings(datatable) }}, {
          searching: true,
          ajaxUrl: Routing.generate('app_comptabilite_paiement_scolarite_index', {
            niveau: niveau,
            caissiere: caissiere,
            dateDebut: dateDebut,
            dateFin: dateFin,
            mode: mode,
            classe: classe,
            filiere: filiere,
            typeFrais: typeFrais
            
          }),
          language: {
            url: asset_base_path + "/js/i18n/French.json"
          },
          headerCallback: function (tHead, aData, iStart, iEnd, aiDisplay) {},
          initComplete: function (e, oSettings, json) {},
        
          drawCallback: function (row, data) {}
        });
      }

      const $niveau = $('#{{ form.niveau.vars.id }}');
      const $caissiere = $('#{{ form.caissiere.vars.id }}');
      const $dateDebut = $('#{{ form.dateDebut.vars.id }}');
      const $dateFin = $('#{{ form.dateFin.vars.id }}');
      const $mode = $('#{{ form.mode.vars.id }}');
      const $classe = $('#{{ form.classe.vars.id }}');
      const $filiere = $('#{{ form.filiere.vars.id }}');
      const $typeFrais = $('#{{ form.typeFrais.vars.id }}');

     
      

      $niveau.on('change', function () {
        const val = $(this).val();
          $caissiere.find('option').each(function () {
          const $_this = $(this);
          if ($_this.attr('data-type') == val) {
           // $_this.prop('disabled', false).prop('hidden', false);
          } else {
            //$_this.prop('disabled', true).prop('hidden', true);
          }
        });
     
      });

      loadDataTable($old_grid, null,null,null,null,null,null,null,null, {{ datatable_settings(datatable) }});
      
      $('.btn-filter').on('click', function (e) {
        e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');

        //alert($dateDebut.val());
        load_grid_data($form, $this, $niveau.val(),$caissiere.val(),$dateDebut.val(),$dateFin.val(),$mode.val(),$classe.val(),$typeFrais.val(),$filiere.val());
      });


      $('.btn-imprimer').on('click', function (e) {
        e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');

      
      });

      $filiere.on('change', function (e) {
      
        const $this = $(this);
      
         load_content_filiere($this.val())
         load_content_niveau($('#form_niveau').val())
      });
       $niveau.on('change', function (e) {
      
        const $this = $(this);
        
         load_content_niveau($this.val())
      });


      function load_content_filiere(id) {
             
                 $.ajax({
                    url:  '/liste/niveau/par/filiere/'+id,
                    method: 'GET',
                      async: false,
                    dataType: 'json',
                    success: function(json){
                      $('#form_niveau').html('');
                 
                          $('#form_niveau').append('<option value selected="default">Choisissez</option>');
                          $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $('#form_niveau').append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          }); 

                    }
                });
              
        }

        function load_content_niveau(id){

            $.ajax({
                    url:  '/liste/classe/par/niveau/'+id,
                    method: 'GET',
                      async: false,
                    dataType: 'json',
                    success: function(json){
                      $('#form_classe').html('');
                 
                          $('#form_classe').append('<option value selected="default">Choisissez</option>');
                          $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $('#form_classe').append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          }); 

                    }
                });
        }

        $('#btn-imprimer').on('click',function(e){
           e.preventDefault();
        const $this = $(this);
        const $form = $this.closest('form');
 console.log($form)
            $.ajax({
              url: '/admin/comptabilite/inscription/paiement/scolarite',
                      type: 'GET',
                      data: {
                        niveau: 1,
                        
                      },
            })

            
          })


      function load_grid_data($form, $button, niveau,caissiere,dateDebut,dateFin,mode,classe,typeFrais,filiere) {
        const id = $old_grid.find('table').attr('id');
        const $table = $old_grid.find(`#${id}`);
        const table = $table.DataTable();
        $.ajax({
          url: $form.attr('action'),
          type: $form.attr('method'),
          data: {
             niveau: niveau,
            caissiere: caissiere,
            dateDebut: dateDebut,
            dateFin: dateFin,
            mode: mode,
            classe: classe,
            filiere: filiere,
            typeFrais: typeFrais
          },
          beforeSend: function () {
            $button.append('<span class="spinner-border spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> ');
            $button.prop('disabled', true);
          },
          complete: function () {
            $button.prop('disabled', false);
            $button.find('.spinner-ajax').remove();
          },
          success: function (html) {
            table.destroy();
            if ($table.length) {
              $table.empty();
            }

           // let grid_val = `${niveau}_${caissiere}_${dateDebut}_${dateFin}`;
            let grid_val = `${niveau}_${caissiere}_${mode}_${classe}_${typeFrais}_${filiere}`;

            //alert(grid_val)

            $old_grid.attr('id', `grid_app_comptabilite_paiement_scolarite_${grid_val}`).empty().html(`
                                    <div class="spinner spinner-track spinner-primary mr-15 text-primary">
                                        <div class="ml-15">Chargement des données de la grille</div>
                                    </div>
                            `);
            var options = {{ datatable_settings(datatable) }};
            var name = `dt_app_comptabilite_paiement_scolarite_${grid_val}`;

            options['name'] = name;

            console.log(classe);

            loadDataTable($old_grid, niveau,caissiere,dateDebut,dateFin,mode,classe,typeFrais,filiere ,options)
          }
        });
      }

    });
  </script>
{% endblock %}

