{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDITION DES FRAIS ET DE L'ECHEANCIER</h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
    {% from '_macros/macro_edit_admin_echeancier.html.twig' import prototype_ligne_echeancier %}
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body">
        {{ include('_includes/ajax/response.html.twig') }}
      

        {{ prototype_ligne_echeancier(form,inscription.etat) }}
        <div class="row">
        
            <div class="col-md-12">
            <table class="table table-bordered table-custom">
       {#  <thead class="thead-dark">
            <tr>
                <th width="50%" class="p-2">Frais</th>
                <th width="40%" class="p-2">Montant</th>
                <th width="" class="p-2"></th>
            </tr>
        </thead> #}
        
    </div>
   <div class="modal-footer">
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
        <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-main btn-ajax btn-sm"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Valider</button>
    </div>
   {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
{% block java %}
{# <script src="{{ asset('assets/parcours/frais_admin.js')}}"></script> #}
    <script>
        $(function () {
            init_select2('select');
              const $form_content = $(`#exampleModalSizeSm2`).find('.place_frais');
            const $form_content_second = $(`#exampleModalSizeSm2`).find('.place_frais_deux');
            const $form_content_second2 = $(`#exampleModalSizeSm2`).find('#echeancier');
     function load_content_second(id) {

        //alert(id)

                let resIntervention;

                    var somme=0;
        
                $.ajax({
                    url:  '/all/frais/niveau/'+id,
                    method: 'GET',
                      async: false,
                    dataType: 'json',
                    success: function(json){
                        
                        $('.place_frais_deux').html('')

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                            somme = somme + parseInt(value.montant)
                    //$res.find("#"+$('.numero').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                         $form_content_second.append(`
                        <div class="row">
                            <div class="col-md-7 mb-4">
                            
                              <select  class="form-control form-control-sm has-select2 numero " id="inscription_admin_fraisInscriptions_${value.id}_typeFrais" name="inscription_admin[fraisInscriptions][${value.id}][typeFrais]" readOnly="true" data-select2-id="select2-data-inscription_admin_fraisInscriptions_${value.id}_typeFrais" >
                             
                                 
                                 <option selected  value="${value.id}" data-select2-id="select2-data-1058-1szc">${value.libelle}</option>
                       
                           </select>

                           
                           
                            </div>
                            <div class="col-md-5 mb-4">
                            <input class="form-control form-control-sm input-money input-mnt autre_fais" type="text" id="inscription_admin_fraisInscriptions_${value.id}_montant" name="etudiant_admin[fraisInscriptions][${value.id}][montant]" required="required" value="${value.montant}">
                            </div>
    
                        </div>

                        `)
                          }); 
                       
                         $('.total').val(somme)

                    }
                });
        }
     function load_content_echeancier(id) {
                    var sommeEcheancier=0;

                  var url = "{{ path('get_echeancier_classe', {id: 'id'}) }}".replace('id', id);
    
                $.ajax({
                    url:  url,
                    method: 'GET',
                      async: false,
                    dataType: 'json',
                    success: function(json){
                        
                        $('#echeancier').html('')

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                            sommeEcheancier = sommeEcheancier + parseInt(value.montant)
                            
                    //$res.find("#"+$('.numero').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                         $form_content_second2.append(`
                        
                        <tr class="row-colonne even pointer table-light" data-numberkey="${index + 1}">
                            <td class="p-2">
                            
                                <div style="display:no " class="field-matiere">  
                                    <input class="form-control form-control-sm form-control numero " type="number" id="inscription_admin_echeanciers_${value.id}_numero" name="etudiant_admin[echeanciers][${value.id}][numero]" required="required" placeholder="Numéro étape" readonly="readonly" value="${index + 1}">
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="field-matiere">    
                                        <div class="input-group">
<input class="form-control form-control-sm" type="date" id="inscription_admin_echeanciers_${value.id}_dateCreation" name="inscription_admin[echeanciers][${value.id}][dateCreation]" required="required" autocomplete="off" value="${value.dateVersement}">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="far fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                </div>
                            </td>
                            <td class="p-2">   
                                <input class="form-control form-control-sm input-money input-mnt montant_echeancier" type="text" id="inscription_admin_echeanciers_${value.id}_montant" name="inscription_admin[echeanciers][${value.id}][montant]" required="required" value="${value.montant}">
                            </td>
                            <td class="p-2 text-center del-col">
                                <a href="#" class="btn btn-danger btn-xs">
                                    <span class="bi bi-trash"></span>
                                </a>
                            </td>
                        </tr>

                        `)
                          }); 
                       
                         $('.col-total').text(sommeEcheancier)

                    }
                });
        }


  function update_totaux(){
        total = 0;
        $('.montant_echeancier').each(function(e){
      const $this = $(this);
      if ($this.val() != '') {
        total = total + parseInt($this.val().replaceAll(' ', ''));

        }
          //somme = somme +parseInt($this.val())
           
        })
  
         $('.col-total').text(total)
    }

            load_content_second($('#inscription_admin_classe').val());
            load_content_echeancier($('#inscription_admin_classe').val());
            
                $('#inscription_admin_classe').on('change',function(){
                    const $this = $(this);
                    //$('#echeancier').html("")
                    load_content_echeancier($this.val())

                // load_content($this.val());
                    load_content_second($this.val());

                    $('.autre_fais').on('update-value', function (e, val, element) {
                            total = 0;
                            $('.autre_fais').each(function(e){
                                    const $this = $(this);
                                //somme = somme +parseInt($this.val())
                                total = total + parseInt($this.val().replaceAll(' ', ''));
                            })
                            $('.total').val(total)
                     })
                  
    $('.montant_echeancier').on('update-value', function (e, val, element) {
        
        update_totaux()
       
    })
        })

         $('.autre_fais').on('update-value', function (e, val, element) {
                        
                        total = 0;
                    $('.autre_fais').each(function(e){
                    const $this = $(this);
                        //somme = somme +parseInt($this.val())
                        total = total + parseInt($this.val().replaceAll(' ', ''));
                    })

                        $('.total').val(total)
            
                })
     
        });

      
    $('.montant_echeancier').on('update-value', function (e, val, element) {
        
        update_totaux()
       
    })
       
    </script>
{% endblock %}