{% block page_content %}
   {#  {% form_theme form 'widget/fields-block.html.twig' %} #}
   {#  <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">INTERFACE PAIEMENTS   {{inscription.etudiant.getNomComplet| upper ~' | '~ inscription.code }}</h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div> #}
   {#  {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }} #}
    <div class="modal-body corp ">
        {{ include('_includes/ajax/response.html.twig') }}

             <table class="table table-striped table-bordered table-hover data-table dataTable no-footer dtr-inline">
                        <thead>
                            <tr class="fw-bold text-muted bg-light">
                            <th style="width:60%">Type versement</th>
                            <th style="width:20%">Montant</th>
                            <th style="width:18%">Action</th>
                            </tr>
                        </thead>
                        <tbody class="column-container">
                            {% for ligne in versements %}
                            <tr class="row-line">
                                <td class="col-article">{{ ligne.modePaiement.libelle  }}</div>
                                <td class="col-article text-end">{{ ligne.montant }}</div>
                               
                                <td class="col-article">
                                    <a title="" href=" {{ path('app_infoinscription_info_inscription_edit',{'id':ligne.id }) }} " class="btn btn-success btn-sm test" data-bs-stacked-toggle="modal" data-bs-stacked-modal="#modal-xl2"> <i class="bi bi-pen text-light"></i></a>
                                    <a title="" href="{{ path('default_print_iframe',{
                    'r':'app_comptabilite_print_inscription_versement',
                    'params': {
                      'id': ligne.id
                    }
                    
                    
                  }) }}" class="btn btn-warning btn-sm test" data-bs-stacked-toggle="modal" data-bs-stacked-modal="#exampleModalSizeLg1"> <i class="bi bi-printer text-light"></i></a>
                                    <a title="" href="{{ path('app_infoinscription_info_inscription_delete',{'id':ligne.id})}}" class="btn btn-danger btn-sm test" data-bs-stacked-toggle="modal" data-bs-stacked-modal="#exampleModalSizeLg1"> <i class="bi bi-trash text-light"></i></a>
                                                
                                </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
        


    </div>
    <div class="modal-footer">
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
      {#   <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
        #}
           
       
    </div>
    {# {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }} #}
{% endblock %}

{% block java %}
    <script>
    


	  var elements = Array.from(document.querySelectorAll("[data-bs-stacked-modal]"));

            if (elements && elements.length > 0) {
                elements.forEach((element) => {
                    if (element.getAttribute("data-kt-initialized") === "1" ) {
                        return;
                    }

                    const url = element.getAttribute('href');
                    element.setAttribute("data-kt-initialized", "1");


                    element.addEventListener("click", function(e) {
                        e.preventDefault();

                        const modalEl = document.querySelector(this.getAttribute("data-bs-stacked-modal"));

                        if (modalEl) {
                            const modal = new bootstrap.Modal(modalEl);
                            modal.show(element);
                        }
                    });
                });
            }
        $(function () {

     $('.cheque').hide()

             $('#inscription_payement_modePaiement').on('change',function(){
                 const $this = $(this);
                const current_value = $this.find('option:selected').attr('data-value');
                if(current_value == 'CHQ'){
                     $('.cheque').show()
                }else{
                     $('.cheque').hide()
                }
            })
            

           
            init_select2('select');
           
            init_select2('select', null, '.corp');
            $('.no-auto').each(function () {
                const $this = $(this);
                const $id = $('#' + $this.attr('id'));
                init_date_picker($id,  'down', (start, e) => {
                    //$this.val(start.format('DD/MM/YYYY'));
                }, null, null, false);

                $id.on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY'));
                });
            });
        });

    </script>
{% endblock %}