{% extends 'base-layout.html.twig' %}

{% block title %}Liste des classes{% endblock %}
{% block header %}classes{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> Liste des classes</h3>
        <div class="card-toolbar">
           {#  <a href="{{ path('app_parametre_classe_new') }}" class="btn btn-main btn-sm"  
                data-bs-toggle="modal" data-bs-target="#modal-lg">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a> #}
        </div>
    </div>
    <div class="card-body">
     <div class="row">
        {% form_theme form 'widget/fields-block.html.twig' %}
            {{ form_start(form,{'attr':{'id':'form'}})}}
            <fieldset>

             
              <div class="row small" style="position:relative">
               {# <div class="col-md-3"></div> #}
               <div class="col-md-4">{{ form_row(form.classe) }}</div>
               <div class="col-md-4">{{ form_row(form.etat) }}</div>
               
                <div class="col-md-1 p-5">
              
                 <a href="" {# target="_blank" #} type="button" style="height: 35px;margin-top:0px" class="btn btn-warning btn-sm imprimer" name="search[imprime]"><i class="fa fa-print text-light"></i></a>
                </div>
               {# <div class="col-md-3 pt-5"> <button class="btn btn-main btn-filter btn-sm" type="button">Valider</button></div> #}
                
                {# <div class="col-md-1 pt-5">
                  <button class="btn btn-main btn-filter btn-sm" type="button">Rechercher</button>
                </div> #}
                
                
              </div>
            </fieldset>
            {{ form_end(form, {render_rest: false}) }}
      </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="grid_app_parametre_classe_imprime" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_parametre_classe_imprime').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_parametre_classe_imprime_index') }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });

      const $classe = $('#{{ form.classe.vars.id }}');
      const $etat = $('#{{ form.etat.vars.id }}');

 /*function exexuteUrl(classe,etat){
       
       if(etat == "ETAT_CLASSE")
            var urlTemplate = "{{ path('app_classe_detaille', {etat: 'etat', classe: 'classe'}) }}";
       if(etat == "ETAT_NOTE")
            var urlTemplate = "{{ path('app_classe_fiche_note', {etat: 'etat', classe: 'classe'}) }}";
       if(etat == "ETAT_PRESENCE")
            var urlTemplate = "{{ path('app_classe_fiche_presence', {etat: 'etat', classe: 'classe'}) }}";

// Remplacer les espaces réservés par les valeurs
        var url = urlTemplate
        .replace('etat', etat)
        .replace('classe', classe);

      window.open(url, '_blank')
      }*/

    function exexuteUrl(classe,etat){
       
         var urlTemplate = "{{ path('app_classe_detaille', {etat: 'etat', classe: 'classe'}) }}";

// Remplacer les espaces réservés par les valeurs
        var url = urlTemplate
        .replace('etat', etat)
        .replace('classe', classe);

      window.open(url, '_blank')
      }
    
       $('.imprimer').on('click', function (e) {

       let niveau_data_classe = $classe.val() ? $classe.val()  : null
        let niveau_data = $etat.val() ? $etat.val()  : null
      
       exexuteUrl(niveau_data,niveau_data_classe)
     
      });
        });

        
    </script>
{% endblock %}
