{% extends 'base-layout.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block header %} Dashboard

 {% endblock %}
{% block breadcrumb %}{% endblock %}

{% block inline_stylesheets %}
<style>
   {#  .sw-theme-dots>ul.step-anchor>li.done>a:after {
        background: green;
    }
    .sw-theme-dots>ul.step-anchor>li.active>a:after {
        background: orangered;
    }
    .sw-theme-dots>ul.step-anchor>li>a:after {
        background: grey;
    } #}
 .stepper-icon{
    background-color: green !important;
    width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 4px;
}
.nav.sw-nav-tabs-vertical .nav-link.active{
    background-color: antiquewhite !important;
}

</style>
{% endblock %}
{% block body %}
<div class="card card-tabs  card-custom card-sticky">  
    <div class="card-header card-header-stretch card-header-custom">
         <h3 class="card-title"> Tableau de bord</h3>
    </div>
    <div class="card-body">
        <div class="row row-10px">
            <div class="col-xl-3 col-12">
                <ul class="nav flex-column nav-pills  sw-nav-tabs-vertical" id="chartTabs">
                    {% for key, _parametre in modules %}
                    
                        <li class="nav-item">
                      
                            <a class="nav-link {% if key == 0 %}active{% endif %}" data-bs-toggle="tab"
                                href="#{{ _parametre.id }}" data-href="{{ _parametre.href }}">
                                  <span class="menu-badge " ><span class="badge stepper-icon" >
                                    <span style="margin-left: 5px;"> {{ key+1 }}</span>
                
                                 </span>
                                <span class="nav-text">{{ _parametre.label }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xl-9 col-12">
                <div class="tab-content" id="paramChildContent">
                    {% for key, _parametre in modules %}
                            {% set id =  _parametre.id  %}
                        <div class="tab-pane fade {% if key == 0 %}show active{% endif %}" 
                            id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block java %}
  
    <script>
    
        $(document).ready(function () {
            load_tab('chartTabs');

        

        });
    </script>
{% endblock %}