<!DOCTYPE html>
<html>
  <head>
    <title>Liste étudiants examen</title>
    <style>
      {% block page_css %}
        @page {
          margin-footer: 0.5cm;
          footer: html_pageFooter;
          margin-top: 0.5cm;
          margin-header: 0cm;
        }

        .clearfix:after {
          content: " ";
          display: table;
        }

        .clearfix:after {
          clear: both;
        }

        fieldset {
          border: 1px solid #000 !important;
          margin: 0;
          padding: 5px;
          position: relative;
          border-radius: 4px;
          background-color: #fff;
        }
        
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        @media all {
          /* Prevent page break inside a content block */
        }

        .double_underline {
          text-decoration: underline;
          border-bottom: 1px solid #000;
          text-align: center;
        }
      {% endblock %}
    </style>
  </head>
  <body style="font-size:12px;">
    {% for item in data %} 
    <div style="page-break-after: always;">
        <div class="clearfix">
          <div style="width:10%;text-align:left;float:left;">
            {% set var = "uploads/" ~ 'media_etudiant' ~"/"~ 'lg.jpeg' %}
            <img src="{{ var | replace({'/': "\\"}) }}" width="100px" />
          </div>
          <div style="width:65%;text-align:center;float:center;">
            <b>UFR-SEG</b><br>
            BP V 43 ABIDJAN, TEL :01 01 15 44 44 ufrseg-filierespro-ufhb.ci <br>
            Abidjan-Cocody
          </div>
          <div style="width:25%;text-align:right;float:right;">
             <div style="text-align:center;margin-top:-45px"  class="">
                    République de COTE D'IVOIRE <br>
                <span style="text-decoration: underline;">Union - Discipline - Travail</span> <br>
               {# <b style="font-weight: bolder;">Année scolaire : {{ anneeScolaire }}</b> #}
            </div>
          </div>
        </div>

        <br>

      
         <form action="/action_page.php">
          <fieldset>
            <legend></legend>
            <h2 class="text-center" style="text-align: center;">
              LISTE DE CLASSE DETAILLEE : {{ item.libelle}}
            </h2>
          </fieldset>
        </form>

        <br/>

        <div class="clearfix">

            <div style="width:100%;text-align:right;float:right;">

                {# <div
                    style="margin-top:-25px;text-align:center;bosrder: 1px solid #000;padding:8px;font-size:15px;font-weight:bold"
                    class=""> #}
                    {# <b>DOIT</b><br><br> #}
                    <table>

                        <tr style="background-color: #dddddd">
                            <th style="width:4%;">N</th>
                            <th style="">Code</th>
                            <th style="">IP</th>
                            <th style="">Nom et Prénoms</th>
                            <th style="">Date Naiss.</th>
                            <th style="">Lieu de naissance</th>
                            <th style="">Matricule BAC</th>
                            <th style="">Serie Bac</th>

                        </tr>

                        {% for key,etudiant in menu.getListeEtudiantByClasseImprime(item.id) %}
                       {% set etat_encart = menu.getEncoreByEtudiant(etudiant.etudiant.id) %}
                               <tr>
                            <td style="width:4%;">{{key+1}}</td>
                            <td style="">{{ etudiant.code}}</td>
                            <td style="">{{etat_encart > 0 ? etudiant.etudiant.encartBacs[0].ip : 'RAS'}}</td>
                            <td style="">{{etudiant.etudiant.nom ~' ' ~etudiant.etudiant.prenom}}</td>
                            <td style="">{{etudiant.etudiant.dateNaissance | date('d/m/Y')}}</td>
                            <td style="">{{etudiant.etudiant.lieuNaissance}}</td>
                            <td style="">{{etat_encart > 0 ? etudiant.etudiant.encartBacs[0].matricule : 'RAS'}}</td>
                            <td style="">{{etat_encart > 0 ? etudiant.etudiant.encartBacs[0].serie : 'RAS'}}</td>

                        </tr>
                        {% else %}
                        <tr>
                          <td colspan="11" style="text-align: center;">Il n'y a aucunes données disponibles</td>
                        </tr>

                        {% endfor %}

                     


                     

                    </table>

                    <br><br>

                    {# <table>

                        <tr style="background-color: #dddddd">
                            <th class="contenu" style="width:20px !important;  border: 1px solid #898787;" colspan="3">
                                AFFECTES</th>
                            <th class="contenu" style="width:20px !important; border: 1px solid #898787;" colspan="3">
                                REAFFECTES</th>
                            <th class="contenu" style="width:20px !important;border: 1px solid #898787;" colspan="3">
                                TRANSFERES</th>
                            <th class="contenu" style="width:20px !important; border: 1px solid #898787;" colspan="3">NON
                                AFFECTES</th>
                            <th class="contenu" style="width:20px !important; border: 1px solid #898787;" colspan="2">TOTAL
                            </th>
                        </tr>

                        <tr>
                            <td style="">Garçons</td>
                            <td style="">Filles</td>
                            <td style="">Total</td>

                            <td style="">Garçons</td>
                            <td style="">Filles</td>
                            <td style="">Total</td>

                            <td style="">Garçons</td>
                            <td style="">Filles</td>
                            <td style="">Total</td>

                            <td style="">Garçons</td>
                            <td style="">Filles</td>
                            <td style="">Total</td>

                            <td style="">Garçons</td>
                            <td style="">Filles</td>



                        </tr>

                        <tr>
                            <td style="">10</td>
                            <td style="">30</td>
                            <td style="">40</td>

                            <td style="">10</td>
                            <td style="">30</td>
                            <td style="">40</td>

                            <td style="">10</td>
                            <td style="">30</td>
                            <td style="">40</td>

                            <td style="">10</td>
                            <td style="">30</td>
                            <td style="">40</td>

                            <td style="">10</td>
                            <td style="">30</td>




                        </tr>





                    </table> #}
                    {#
                </div> #}
            </div>
        </div> <br><br>
     


    </div>



    <br>
    {# <div style="border-top:20px solid grey"></div> #}<br>
   {#  </div> #}

      <htmlpagefooter name="pageFooter">
       {#  <table style="width:100%">
          <tr>
            <td style="width:50%;text-align:left;padding-bottom:8px">
              <i><b>Client</b></i>
            </td>
            <td style="width:50%;text-align:right">
              <i><b>Souche</b></i>
            </td> secretariat@ufrseg-filierespro-ufhb.ci
          </tr>
        </table> #}
        <div style="border-top:2px solid #000"></div>
       <p  align="center" style="align: center;margin-top:-1px">
        UFHB/UFRSEG  BP V43 ABIDJAN EMAIL: 
        <a href="mailto:secretariat@ufrseg-filierespro-ufhb.ci">secretariat@ufrseg-filierespro-ufhb.ci</a><br>
        TEL :01 01 15 44 44
       </p>
    </htmlpagefooter>
      {% endfor %}
</body>

</html>