
{% macro colonne(colonne) %}
    <div class="row-colonne_document  my-3 py-2" style="border-bottom:3px solid #000">
        {#{{ dump(redaction.children.path.vars.data) }}#}
        <div class="row">
            <div class="col-md-5 ">
                 {{ form_row(colonne.libelle) }}
            </div>
            <div class="col-md-5 ">
                {{ form_row(colonne.fichier) }}
            </div>
            <div class="col-md-1 ">
                  {% if colonne.vars.value and colonne.vars.value.fichier %}
              
           {#  <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  colonne.vars.value.path.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                 <a class="btn btn-dark btn-sm" style="margin-top: 18px;" target="_blank" href="{{ asset('uploads/media_etudiant/' ~ colonne.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
             {% endif %}
            </div>
            
            <div class="col-md-1 del-col_document" data-parent=".row-colonne_document"></div>
        </div>
    </div>

{% endmacro  %}

{% macro prototype_ligne_colonne_document(form) %}
    <div class="list-colonne_document"  data-prototype="{{ _self.colonne(form.documents.vars.prototype)|e }}"></div>
    <button type="button" data-protoname="__name__" class="btn btn-default add_line_document btn-xs" id="add_ligne_document"  data-protoclass=".list-colonne_document" data-container=".column-container_document">
        <i class="fa fa-plus"></i> Ajouter une ligne
    </button>
    <div class="column-container_document proto-container_document" data-childclass="">
        {% for item in form.documents %}
            {{ _self.colonne(item|e) }}
        {% endfor %}
    </div>
{% endmacro %}

