{% extends 'base-layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}


 {% from '_macros/controle_new.html.twig' import prototype_ligne_controle %}
{% block body %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}    
    <div class="card card-custom card-sticky gutter-b" id="kt_page_sticky_card">
        <div class="card-header  flex-wrap border-1 pt-0 pb-0">
            <div class="card-title">
               {#  <h3 class="card-label">MODIFICATION DU GROUPE <span class="d-block text-muted pt-0 font-size-sm"></h3> #}
            </div>
            <div class="card-toolbar">
              
             {#    <button name="sticky-submit" id="sticky-submit" class="btn btn-main btn-sm btn-ajax">
                    <span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span>
                    Modifier
                </button> #}
            </div>
        </div>
        <div class="card-body content">
            {{ include('_includes/ajax/response.html.twig') }}
            <div class="row">
                 <div class="col-md-2">{{ form_row(form.semestre) }}</div>
            <div class="col-md-2">{{ form_row(form.classe) }}</div>
            <div class="col-md-3">{{ form_row(form.ue) }}</div>
            <div class="col-md-3">{{ form_row(form.matiere) }}</div>
            <div class="col-md-2">
            
             <a href="" {# target="_blank" #} type="button" style="margin-top:20px" class="btn btn-warning btn-md imprimer" name="search[imprime]">
                 <i class="fa fa-print text-light"></i> Imprime fiche
                 </a>
                 
                 </div>
            </div>
          
            <div class="card">
                <div class="card-header pt-0 pb-0" id="heading4">
                    <div class="card-title m-0">
                       <br>
                    </div>
                </div>
                <div class="card-body">
                    <div id="form-content">
                       {#  {{ prototype_ligne_controle(form,nombre) }} #}
                       <div class="text-center "> 
                    <strong>Chargement des données de l'étape</strong><br>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true">
                    </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block java %}
    <script src="{{ asset('assets/evaluations/index.js')}}"></script>
    <script>
        $(function () {
            init_select2('select',null,'.content');

         
            
        });

         const $semestre = $('#{{ form.semestre.vars.id }}');
         const $ue = $('#{{ form.ue.vars.id }}');
         const $classe = $('#{{ form.classe.vars.id }}');
         const $matiere = $('#{{ form.matiere.vars.id }}');


         function exexuteUrl(classe, etat) {
        var urlTemplate = "{{ path('app_classe_detaille', {etat: 'etat', classe: 'classe'}) }}";

        // Remplacer les espaces réservés par les valeurs
        var url = urlTemplate
            .replace('etat', etat)
            .replace('classe', classe);
        window.open(url, '_blank');
    }

    $('.imprimer').on('click', function (e) {
        e.preventDefault();  // Empêche le comportement par défaut

        let classes = $classe.val() ? $classe.val() : null;

        if (classes) {
            exexuteUrl(classes, 'recap');
        } else {
            alert('Veuillez sélectionner une classe.');
        }
    });

         //function load_content(url,semestre,classe,matiere,ue) {
        function load_content(url,filters = []) {
            const $form_content = $(`#form-content`);
         
           
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'html',
                data:filters,
                beforeSend: function () {
                    
                       $form_content.html(`<div class="text-center "> 
                    <strong>Chargement des données de l'étape</strong><br>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true">
                    </div>`);
                },
                success: function (html) {
                    $form_content.html(html);
                },
               
                error: function () {
                    $form_content.html('<div class="text-center text-danger">Une erreur est survenue...</div>');
                }
            })

              
        
        }

        

         function load_principal(filters = []){

            $.ajax({
                url: "/admin/controle/controle/new/saisie/simple",
                method: 'GET',
                dataType: 'html',
                data: filters,
              
                success: function (html) {
                  
                },
            
            })

        }

        function load_matiere(classe){
            $.ajax({
                    url:  "{{ path('get_matiere')}}",
                    type:  'get',
                    async: false,
                    data:     {id:classe},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.matiere').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.matiere').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }
        function load_ue(classe){
            $.ajax({
                    url:  "{{ path('get_ue')}}",
                    type:  'get',
                    async: false,
                    data:     {id:classe},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.ue').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.ue').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }
        function load_ue_matiere(ue){
           
            $.ajax({
                    url:  "{{ path('get_ue_matiere')}}",
                    type:  'get',
                    async: false,
                    data:     {id:ue},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.matiere').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.matiere').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }

        
        function load_classe(){
              $.ajax({
                    url:  "{{ path('get_classe')}}",
                    type:  'get',
                    async: false,
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.classe').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');
                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"
                            $("#"+ $('.classe').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                          });
                    }
                });
        }


           //load_matiere($classe.val())

          $classe.on('change', function () {
     
              const $this = $(this);
              const val = $(this).val();

               load_content(`/admin/controle/controle/new/load/${$semestre.val()}/${val}/${$matiere.val()}/${$ue.val()}`,{semestre: $semestre.val(),classe:val,matiere: $matiere.val(),ue: $ue.val()})
                //load_matiere(val)
                load_ue(val)
                load_principal({semestre: $semestre.val(),classe:val,matiere: $matiere.val(),ue: $ue.val()})
          });
          $ue.on('change', function () {
              const $this = $(this);
              const val = $(this).val();

     //alert(val)
                load_content(`/admin/controle/controle/new/load/${$semestre.val()}/${$classe.val()}/${$matiere.val()}/${val}`,{semestre: $semestre.val(),classe:$classe.val(),matiere: $matiere.val(),ue: val})
                //load_matiere(val)
                load_ue_matiere(val)
                load_principal({semestre: $semestre.val(),classe:$classe.val(),matiere: $matiere.val(),ue: val})
          });

          
          $matiere.on('change', function () {
  
              const $this = $(this);
              const val = $(this).val();
                 load_content(`/admin/controle/controle/new/load/${$semestre.val()}/${$classe.val()}/${val}/${$ue.val()}`,{semestre: $semestre.val(),classe:$classe.val(),matiere: val,ue: $ue.val()})
                load_principal({semestre: $semestre.val(),classe:$classe.val(),matiere: val,ue: $ue.val()})
          });
          load_classe()
          load_ue($classe.val())
           load_ue_matiere($ue.val())
          load_content(`/admin/controle/controle/new/load/${$semestre.val()}/${$classe.val()}/${$matiere.val()}/${$ue.val()}`,{semestre: $semestre.val(),classe:$classe.val(),matiere: $matiere.val(),ue: $ue.val()})
          load_principal({semestre: $semestre.val(),classe:$classe.val(),matiere: $matiere.val(),ue: $ue.val()})

       
       
    </script>
{% endblock %}