{% extends 'base-layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}


 {% from '_macros/controle_examen_new.html.twig' import prototype_ligne_controle %}
{% block body %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}    
    <div class="card card-custom card-sticky gutter-b" id="kt_page_sticky_card">
        <div class="card-header  flex-wrap border-1 pt-0 pb-0">
            <div class="card-title">
               {#  <h3 class="card-label">MODIFICATION DU GROUPE <span class="d-block text-muted pt-0 font-size-sm"></h3> #}
            </div>
            <div class="card-toolbar">
              
             {#    <button name="sticky-submit" id="sticky-submit" class="btn btn-main btn-sm btn-ajax">
                    <span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span>
                    Modifier
                </button> #}
            </div>
        </div>
        <div class="card-body content">
            {{ include('_includes/ajax/response.html.twig') }}
            <div class="row">
            <div class="col-md-2">{{ form_row(form.classe) }}</div>
            <div class="col-md-3">{{ form_row(form.ue) }}</div>
            <div class="col-md-3">{{ form_row(form.matiere) }}</div>
            <div class="col-md-2">{{ form_row(form.session) }}</div>
            <div class="col-md-2">
            <a href="" {# target="_blank" #} type="button" style="margin-top:20px" class="btn btn-warning btn-md imprimer_pv" name="search[imprime]">
                 <i class="fa fa-print text-light"></i> Imprime pv
                 </a>
            </div>
            </div>
          
            <div class="card">
                <div class="card-header pt-0 pb-0" id="heading4">
                    <div class="card-title m-0">
                       <br>
                    </div>
                </div>
                <div class="card-body">
                    <div id="form-content">
                       {#  {{ prototype_ligne_controle(form,nombre) }} #}
                       <div class="text-center "> 
                    <strong>Chargement des données de l'étape</strong><br>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true">
                    </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block java %}
    <script src="{{ asset('assets/evaluations/index.js')}}"></script>
    <script>
        $(function () {
            init_select2('select',null,'.content');

         
            
        });

         const $sessions = $('#{{ form.session.vars.id }}');
         const $classe = $('#{{ form.classe.vars.id }}');
         const $matiere = $('#{{ form.matiere.vars.id }}');
         const $ue = $('#{{ form.ue.vars.id }}');


    function exexuteUrlPv(classe,ue,matiere,sessions){
        
            var urlTemplate = "{{ path('app_imprime_pv', {classe:'classe', ue:'ue',matiere:'matiere',sessions:'sessions'}) }}";


            var url = urlTemplate
            .replace('classe', classe)
            .replace('ue', ue)
            .replace('matiere', matiere)
            .replace('sessions', sessions);

        window.open(url, '_blank')
        }

       $('.imprimer_pv').on('click', function (e) {
        e.preventDefault(); 
       let classe = $classe.val() ? $classe.val()  : null
        let sessions = $sessions.val() ? $sessions.val()  : null
        let matiere = $matiere.val() ? $matiere.val()  : null
        let ue = $ue.val() ? $ue.val()  : null
      
       exexuteUrlPv(classe,ue,matiere,sessions)
     
      });

         //function load_content(url,semestre,classe,matiere,ue) {
        function load_content(url,filters = []) {
         
            const $form_content = $(`#form-content`);
         
           
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'html',
                data:filters,
                beforeSend: function () {
                    
                        $form_content.html(`<div class="text-center "> 
                    <strong>Chargement des données de l'étape</strong><br>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true">
                    </div>`);
                },
                success: function (html) {
                    $form_content.html(html);
                },
               
                error: function () {
                    $form_content.html('<div class="text-center text-danger">Une erreur est survenue...</div>');
                }
            })

              
        
        }

        

         function load_principal(filters = []){

            $.ajax({
                url: "/admin/controle/controle/examen/new/saisie/simple",
                method: 'GET',
                dataType: 'html',
                data: filters,
              
                success: function (html) {
                  
                },
            
            })

        }

        function load_matiere(classe){
            $.ajax({
                    url:  "{{ path('get_matiere')}}",
                    type:  'get',
                    async: false,
                    data:     {id:classe},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.matiere').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.matiere').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }
        function load_ue(classe){
            $.ajax({
                    url:  "{{ path('get_ue')}}",
                    type:  'get',
                    async: false,
                    data:     {id:classe},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.ue').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.ue').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }
        function load_ue_matiere(ue){
           
            $.ajax({
                    url:  "{{ path('get_ue_matiere')}}",
                    type:  'get',
                    async: false,
                    data:     {id:ue},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.matiere').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.matiere').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }

        
      

           //load_matiere($classe.val())

          $classe.on('change', function () {
     
              const $this = $(this);
              const val = $(this).val();

                load_ue(val)
                 load_ue_matiere($ue.val())
                 var urlTemplate = "{{ path('app_controle_controle_examen_new_load', {session: 'session', classe: 'classe',ue:'ue',matiere:'matiere'}) }}";
                var url = urlTemplate
                .replace('session', $sessions.val())
                .replace('classe', val)
                .replace('ue', $ue.val())
                .replace('matiere', $matiere.val());
                load_content(url,{session: $sessions.val(),classe:val,ue: $ue.val(),matiere: $matiere.val()})
                 load_principal({session: $sessions.val(),classe:val,ue: $ue.val(),matiere: $matiere.val()}) 

          });
          $ue.on('change', function () {
                const $this = $(this);
                const val = $(this).val();
                var urlTemplate = "{{ path('app_controle_controle_examen_new_load', {session: 'session', classe: 'classe',ue:'ue',matiere:'matiere'}) }}";
                var url = urlTemplate
                .replace('session', $sessions.val())
                .replace('classe', $classe.val())
                .replace('ue', val)
                .replace('matiere', $matiere.val());
               load_content(url,{session: $sessions.val(),classe:$classe.val(),ue: val,matiere: $matiere.val(),})
               
                //load_matiere(val)
                load_ue_matiere(val)
                 load_principal({session: $sessions.val(),classe:$classe.val(),ue: val,matiere:$matiere.val()}) 
               
          });

            $matiere.on('change', function () {
                const $this = $(this);
                const val = $(this).val();
                var urlTemplate = "{{ path('app_controle_controle_examen_new_load', {session: 'session', classe: 'classe',ue:'ue',matiere:'matiere'}) }}";
                var url = urlTemplate
                .replace('session', $sessions.val())
                .replace('classe', $classe.val())
                .replace('ue', $ue.val())
                .replace('matiere',val);
                load_content(url,{session: $sessions.val(),classe:$classe.val(),ue: $ue.val(),matiere: val})
                load_principal({session: $sessions.val(),classe:$classe.val(),ue: $ue.val(),matiere:val}) 
               
          });
            $sessions.on('change', function () {
                const $this = $(this);
                const val = $(this).val();
                var urlTemplate = "{{ path('app_controle_controle_examen_new_load', {session: 'session', classe: 'classe',ue:'ue',matiere:'matiere'}) }}";
                var url = urlTemplate
                .replace('session', val)
                .replace('classe', $classe.val())
                .replace('ue', $ue.val())
                .replace('matiere',$matiere.val());
               load_content(url,{session: val,classe:$classe.val(),ue: $ue.val(),matiere: $matiere.val()})
                load_principal({session: val,classe:$classe.val(),ue: $ue.val(),matiere:$matiere.val()}) 
               
          });

        function load_session(classe){
            $.ajax({
                    url:  "{{ path('get_session')}}",
                    type:  'get',
                    async: false,
                    data:     {id:classe},
                    dataType:   'json',
                    success: function(json){

                      $('#'+ $('.session').attr("id")).html(''); //je vide la 2ème list
                      //$('#'+ $('.matiere').attr("id")).append('<option value selected="default" >Choisissez</option>');

                        $.each(json, function(index, value) { // et une boucle sur la réponse contenu dans la variable passé à la function du success "json"       
                              
                            $("#"+ $('.session').attr("id")).append('<option value="'+ value.id +'"  >' + value.libelle +'</option>');
                      
                          });
                    }
                });
        }

        
          /* $niveau.on('change', function () {
     
              const $this = $(this);
              const val = $(this).val();

           load_ue(val)
           load_session(val)
          load_content(`/admin/controle/controle/examen/new/load/${$sessions.val()}/${$niveau.val()}/${$ue.val()}`,{session: $sessions.val(),niveau:val,ue: $ue.val()})
          load_principal({session: $sessions.val(),niveau:val,ue: $ue.val()})
          });*/

           var urlGeneral = "{{ path('app_controle_controle_examen_new_load', {session: 'session', classe: 'classe',ue:'ue',matiere:'matiere'}) }}";

        // Remplacer les espaces réservés par les valeurs
        var urlPrincipal = urlGeneral
            .replace('session', $sessions.val())
            .replace('classe', $classe.val())
            .replace('ue', $ue.val())
            .replace('matiere', $matiere.val());

          load_ue($classe.val())
          load_ue_matiere($ue.val())
          load_session($classe.val())
          load_content(urlPrincipal,{session: $sessions.val(),classe:$classe.val(),ue: $ue.val(),matiere: $matiere.val()})
          load_principal({session: $sessions.val(),classe:$classe.val(),ue: $ue.val(),matiere: $matiere.val()}) 

       
    </script>
{% endblock %}